In [9]:
import pandas as pd

In [29]:
df1 = pd.read_parquet("data")

In [22]:
from pyarrow.parquet import ParquetFile
import pyarrow as pa 

pf = ParquetFile('data') 
df_iter = next(pf.iter_batches(batch_size = 1000)) 
df = pa.Table.from_batches([df_iter]).to_pandas()

In [24]:
len(df)

1000

In [12]:
pd.to_datetime(df.tpep_pickup_datetime)

0   2021-01-01 00:30:10
1   2021-01-01 00:51:20
2   2021-01-01 00:43:30
3   2021-01-01 00:15:48
4   2021-01-01 00:31:49
5   2021-01-01 00:16:29
6   2021-01-01 00:00:28
7   2021-01-01 00:12:29
8   2021-01-01 00:39:16
9   2021-01-01 00:26:12
Name: tpep_pickup_datetime, dtype: datetime64[us]

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [28]:
df.head(n=0).to_sql(name='yellow_taxi_data',  con=engine, if_exists='replace')

0

In [38]:
import time 
t_start = time.time()
print(t_start)

1705867154.237121

In [39]:
import time
t_start = time.time()
df1.to_sql(name='yellow_taxi_data',  con=engine, if_exists='append')
t_end = time.time()
print('time taken = %.3f second' % (t_start - t_end))

time taken = -177.480 second